@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
}

.logo {
  display: flex;
}

.button {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.user-popover__link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.advantage__content-item h3 {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.user-popover {}

.dropdown {}

.crumbs {}

.crumbs__container {
  margin-bottom: 35px;
  padding-left: 90px
}

.filter {}

.filter__label--checkbox {}

.filter__label--radio {}

.sorting {}

.filter-sorting {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.card {}

.pagination {}

.header {
  padding: 12px 0;
}

.header-products {
  margin-bottom: 35px;
}

.header__container {}

.header__wrap-container {
  max-width: 1040px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.header__logo {
  align-self: start;
  margin-bottom: 30px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header__form {
  display: flex;
  width: 100%;
  max-width: 517px;
  margin-right: 26px;
  align-items: center;
}

.header__search-wrap {
  display: flex;
  text-align: center;
  position: relative;
  max-width: 357px;
  width: 100%;
}

.header__search-icon {
  position: absolute;
  top: 12px;
  left: 16px;
}

.header__search-input {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  height: 40px;
  padding: 10px 10px 10px 48px;
  border: 2px solid #000;
  border-right: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.header__submit {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  height: 40px;
  max-width: 160px;
  width: 100%;
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px solid #000;
}

.header__user-list {
  width: 100%;
}

.user-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 -18px;
  list-style: none;
}

.user-list__item {
  display: flex;
  padding: 0 18px;
}

.user-list__item:first-child {
  margin-right: auto;
}

.user-list__item:nth-child(2) {
  opacity: 0.3;
}

.user-list__link {}

.user-list__popover {
  background-color: #000000;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: none;
}

.user-list--logout .user-list__item {
  padding: 0 16px;
}

.user-popover__list {}

.user-popover__item {}

.user-popover__link {}

.user-popover__close {}

.user-popover__item {}

.user-popover__link {}

.user-popover__close {}

.user-popover__wrapper {
  background-color: #1a1a1a;
}

.user-popover__cart-open {
  background-color: #ffffff;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header__nav {}

.nav {
  display: flex;
}

.nav__list {
  width: calc(100% + 44px);
  display: flex;
  margin: 0 -22px;
  padding: 0;
  list-style: none;
  align-items: center;
}

.nav__item {
  display: flex;
  padding: 0 22px;
}

.nav__item:first-child {
  margin-right: auto;
}

.nav__link {
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav__link:not(:last-child) {
  margin-right: 7px;
}

.nav__toggle {
  background: transparent;
  border-radius: 50%;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}

.nav__dropdown {}

.dropdown__list {
  display: none;
}

.dropdown__item {}

.dropdown__link {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.main {
  flex-grow: 1;
}

.preview {
  margin-bottom: 70px;
}

.slider {}

.slider__list {}

.slider__item {
  display: none;
  align-items: center;
}

.slider__item--active {
  display: flex;
}

.slider__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 560px;
  height: 560px;
  margin-right: 40px;
}

.slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
}

.slider__toggles {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  padding-left: 30px;
}

.slider__toggle {
  width: 20px;
  height: 60px;
  border: none;
  padding: 0;
  background-color: white;
}

.slider__toggle--left {}

.slider__toggle--right {}

.slider__arrow--left {}

.slider__arrow--right {}

.slider__container {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
}

.slider__title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 30px;
}

.slider__text {
  margin: 0 0 50px;
}

.slider__more-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.slider__more-button {
  width: 100%;
  max-width: 220px;
}

.slider__pagination-list {
  display: flex;
  margin: -10px;
  flex-wrap: wrap;
}

.slider__pagination-item {
  display: flex;
  padding: 10px;
}

.slider__pagination-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid #000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.slider__pagination-button--current {
  background-color: #000;
}

.slider__info {
  margin: -10px;
  display: flex;
}

.slider__info-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.slider__info-wrap dt {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.slider__info-wrap dd {
  order: -1;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0 0 12px;
}

.category {
  margin-bottom: 70px;
}

.category__list {
  display: flex;
  margin: -20px;
  flex-wrap: wrap;
  width: calc(100% + 40px);
}

.category__item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 200px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.category__item-wrap {
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  text-align: center;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__item-wrap--bottom {
  align-items: end;
}

.category__link {
  display: flex;
  flex-direction: column;
}

.advantage {
  margin-bottom: 70px;
}

.advantage__wrapper {
  display: flex;
  padding: 0;
  align-items: center;
  margin-bottom: 142px;
}

.advantage__buttons-list {
  list-style: none;
  margin: 0;
  padding: 64px 0;
  width: 100%;
  max-width: 280px;
  border-right: 7px solid #000;
}

.advantage__button-item {}

.advantage__button-item:not(:last-child) {
  margin-bottom: 32px;
}

.advantage__button-item--active {
  background-color: #000;
}

.advantage__button {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  min-width: 160px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 10px 4px;
  border: none;
  background-color: transparent;
}

.advantage__button-item--active .advantage__button {
  color: #FFE17F;
}

.advantage__content-list {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 64px 64px 64px 116px;
}

.advantage__content-item {
  width: 100%;
  max-width: 475px;
}

.advantage__content-item p {
  padding: 0;
  margin: 0;
}

.advantage__content-item h3 {
  margin-bottom: 34px;
  margin-top: 0;
}

.advantage__content-item:nth-child(2),
.advantage__content-item:nth-child(3) {
  display: none;
}

.advantage__delivery {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  padding: 0;
}

.advantage__icon-car {
  background-color: #ffe17f;
  padding: 36px 40px;
}

.advantage__delivery-text {
  padding: 0;
}

.advantage__icon-info {
  background-color:rgba(220, 220, 220, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 42px;
}

.about-contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about {
  width: 520px;
}

.about__title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 30px;
  margin-right: 23px;
}

.about__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
}

.about__item {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 19px;
}

.about__link {
}

.contacts {
  width: 532px;
}

.contacts__title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 48px;
}

.contacts__text {
  margin: 0 34px 30px 0;
}

.contacts__address-wrap {
  margin-bottom: 30px;
}

.contacts__sub-title {
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}

.contacts__address {
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contacts__phone {
  text-decoration: underline;
}

.contacts__time-wrap {
  margin-bottom: 30px;
}

.contacts__time {}

.article {
  background-color: #f0f0f0;
  padding: 64px 0 56px;
}

.article__wrapper {
  display: flex;
  margin-bottom: 144px;
  justify-content: space-between;
}

.article__title {
  width: 100%;
  max-width: 360px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.article__text {
  align-self: self-end;
  max-width: 552px;
  width: 100%;
  margin: 0;
}

.article__form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article__form {
  display: flex;
  width: 100%;
  max-width: 810px;
}

.article__wrap {
  display: flex;
  width: 100%;
}

.article__input {
  width: 100%;
  background-color: #f0f0f0;
  height: 57px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  padding: 14px 16px 11px;
}

.article__submit {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  height: 57px;
  margin-left: 0;
  max-width: 253px;
  border: 3px solid #c4c4c4;
  padding: 15px 39px 21px 39px;
}

.article__safe {
  margin: 0;
}

.footer {
  background-color: #444444;
  padding: 62px 0 62px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin-bottom: 35px;
  align-self: start;
}

.footer__list-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.footer__address {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  max-width: 240px;
}

.footer__list {
  display: flex;
  margin: 0 -18px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__item {
  padding: 0 18px;
}

.footer__link {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer__phone {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  margin-left: 70px;
}

.footer__socials-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__poloska {
  position: relative;
  width: 100%;
  max-width: 240px;
  height: 7px;
}

.footer__poloska::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #ffc500;
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -8px;
}

.footer__social {
  padding: 8px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer__academy-wrap {
  display: flex;
  width: 100%;
  max-width: 240px;
  justify-content: end;
}

.footer__academy {
  color: #ffe17f;
  /* margin-left: auto; */
}

.main__wrapper {}

.main__title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 16px;
}

.main__crumbs {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  margin: 0 0 -16px;
  flex-wrap: wrap;
}

.crumb {
  margin: 0 36px 16px 0;
}

.crumb:last-child {
  margin-right: 0;
}

.main__filter-sorting-wrap {
  background-color: #f0f0f0;
  padding-left: 90px;
}

.global__container {
  display: flex;
}

.main__filter {
  max-width: 320px;
}

.filter__title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter__form {}

.filter__fieldset {}

.filter__legend {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.filter__range-buttons {}

.filter__range {}

.filter__range--min {}

.filter__range--max {}

.filter__range-set {}

.filter__range-count {}

.filter__fieldset {}

.filter__list {
  list-style-type: none;
}

.filter__item {}

.filter__label {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.filter__submit {
  padding: 10px 5px;
  width: 100%;
  max-width: 220px;
  border: none;
}

.main__sorting {
  max-width: 840px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sorting__top-wrap {
  max-width: 840px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px;
}

.sorting__title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sorting__form {}

.sorting__select {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: #f0f0f0;
}

.sorting__button {
  border: none;
}

.sorting__wrapper {
  background-color: #ffffff;
  padding: 70px 40px 0 40px;
}

.sorting__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting__item {
  max-width: 360px;
  width: 100%;
  margin-bottom: 44px;
}

.card__wrapper {
  max-width: 360px;
  width: 100%;
}

.card__text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  max-width: 55%;
}

.card__price {
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.card__image {}

.card__new {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.card__link {
  display: none;
}

.sorting__more {
  background-color: #ffffff;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 18px 39px;
  border: 3px solid #e5e5e5;
  width: 100%;
  max-width: 760px;
  margin-bottom: 44px;
}

.sorting__pagination {
  display: flex;
}

.pagination__item--prev {}

.pagination__item {}

.pagination__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  width: 100%;
  max-width: 760px;
  align-items: center;
  margin-bottom: 78px;
}

.pagination__button {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 25px;
}

.pagination__page {
  padding: 10px 16px;
}

.pagination__link {
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination__link--current {}

.pagination__item--next {}
